.encode-plus-decode {
    .info {
        padding: 10px 0;
        color: #999999;
        span {
            padding: 0 4px;
            color: #e33;
        }
    }
    .box {
        height: 300px;
        border: 1px solid #dddddd;
        overflow: hidden;
    }
    .title {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 10px;
        border-bottom: 1px solid #dddddd;
        background-color: #ececec;
        font-size: 16px;
        justify-content: space-between;
        .tips {
            padding: 0 20px;
            font-size: 12px;
            color: #ff0000;
        }
        .button {
            height: 30px;
            cursor: pointer;
        }
    }
    .action {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        .button {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50px;
            height: 100%;
            font-size: 16px;
            font-weight: bold;
            border: 1px solid #dddddd;
            background-repeat: no-repeat;
            background-size: 70% auto;
            background-color: #ffffff;
            cursor: pointer;
            &:hover {
                background-color: #f7f7f7;
            }
        }
        .space {
            width: 20px;
        }
        .clear {
            height: 70px;

            border-radius: 10px;
            cursor: pointer;
            padding: 10px 16px;
        }
        .encode {
            justify-content: flex-start;
            background-position: center bottom;
            padding: 10px 16px 34px;
        }
        .decode {
            justify-content: flex-end;
            background-position: center top;
            padding: 34px 16px 10px;
        }
    }
    textarea {
        width: 100%;
        height: 100%;
        padding: 10px;
    }
}
