// 主色调
$main-color: #f5f5f5;
$main-back-color: #f7f7f8;
// 背景色
$back-color: #f5f7fa;
// 头部高度
$head-height: 50px;
$head-back-color: #fafafa;
// 菜单宽度
$menu-width: 240px;
$menu-back-color: #f7f8fa;

// 操作栏高度
$layout-action-height: 0px;
$layout-action-background-color: #ffffff;
$layout-directory-width: 200px;
$layout-border-color: #dddddd;
